VSFindTool.v12.suo
VSFindTool/bin/Debug/extension.vsixmanifest
VSFindTool/bin/Debug/VSFindTool.dll
VSFindTool/bin/Debug/VSFindTool.pdb
VSFindTool/bin/Debug/VSFindTool.pkgdef
VSFindTool/bin/Debug/VSFindTool.vsix
VSFindTool/GlobalSuppressions.cs
VSFindTool/Guids.cs
VSFindTool/Key.snk
VSFindTool/obj/Debug/CtoResourceMerger.cache
VSFindTool/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VSFindTool/obj/Debug/extension.vsixmanifest
VSFindTool/obj/Debug/MyControl.g.i.cs
VSFindTool/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
VSFindTool/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
VSFindTool/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
VSFindTool/obj/Debug/TempPE/Resources.Designer.cs.dll
VSFindTool/obj/Debug/VSCT.read.1.tlog
VSFindTool/obj/Debug/VSCT.write.1.tlog
VSFindTool/obj/Debug/VSFindTool.csproj.FileListAbsolute.txt
VSFindTool/obj/Debug/VSFindTool.csproj.GenerateResource.Cache
VSFindTool/obj/Debug/VSFindTool.csproj.ResolveComReference.cache
VSFindTool/obj/Debug/VSFindTool.csproj.VsixDeployedFileListAbsolute.txt
VSFindTool/obj/Debug/VSFindTool.csprojResolveAssemblyReference.cache
VSFindTool/obj/Debug/VSFindTool.cto
VSFindTool/obj/Debug/VSFindTool.dll
VSFindTool/obj/Debug/VSFindTool.g.resources
VSFindTool/obj/Debug/VSFindTool.latest.pkgdef
VSFindTool/obj/Debug/VSFindTool.pdb
VSFindTool/obj/Debug/VSFindTool.pkgdef
VSFindTool/obj/Debug/VSFindTool.Resources.resources
VSFindTool/obj/Debug/VSFindTool_MarkupCompile.cache
VSFindTool/obj/Debug/VSFindTool_MarkupCompile.i.cache
VSFindTool/obj/Debug/VSFindToolMainFormControl.baml
VSFindTool/obj/Debug/VSFindToolMainFormControl.g.cs
VSFindTool/obj/Debug/VSFindToolMainFormControl.g.i.cs
VSFindTool/obj/Debug/VSPackage.resources
VSFindTool/obj/Debug/VSPackage.resources.original
VSFindTool/PkgCmdID.cs
VSFindTool/Properties/AssemblyInfo.cs
VSFindTool/source.extension.vsixmanifest
VSFindTool/Resources.resx
VSFindTool/Resources.Designer.cs
